@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<hgroup class="title m-3">
    <h1>Confirmation de mot de passe oublié </h1>
</hgroup>
<div class="container">
    <p>
        Veuillez vérifier votre e-mail pour réinitialiser votre mot de passe.
    </p>
</div>
	
