@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<hgroup class="title">
    <h1 class="text-center mt-4">Réinitialiser la confirmation du mot de passe.</h1>
</hgroup>
<hr />
<div class="container p-4 text-center">
    <p>
        Votre mot de passe a été réinitialisé. S'il vous plaît @Html.ActionLink("Cliquez ici pour vous identifier", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
