@model MinisitreFin.Models.Articles
    @{ 
        ViewBag.Title = "Articles";
        Layout = "~/Views/Shared/_LayoutSite.cshtml";
    }
                <div class="col-md-12">
                    <div class="title">
                        <h2>Articles</h2>
                    </div>
                </div>
                <!-- MAIN -->
                <div id="main" class="col-md-8" role="main">
                    <!-- Article -->
                    <article>
                        <header>
                            <div class="post-thumbnail">
                                <img src="~/AppImg/@Html.DisplayFor(model => model.Image)" alt="Post image">
                            </div>
                            <h2 class="entry-title">@Html.DisplayFor(model => model.Titre_article)</h2>
                            <p class="author">
                                <i class="fa fa-calendar"></i>
                                @Html.FormatValue("yyy-MM-dd", Model.Date_creation.Value.Date.ToString("yyy-MM-dd")) <span>/</span> par <a><strong>MEFRA</strong></a>
                            </p>
                        </header>
                        <div class="post_content">
                            <p>@Html.Raw(Model.Description)</p>

                            <p>@Html.Raw(Model.Contenu_article)</p>


                        </div>
                        <!-- Tags -->
                        <!-- Author bio -->

                    </article>
                    <!-- Pagination -->
                    <!-- COMMENTS -->
                    <!-- /comments -->
                    <!-- Comments form -->
                    <!-- /comments form -->
                </div><!-- /main -->
                <!-- SIDEBAR -->
               
